p {
    color: #553930;
    font-family: verdana, 'Imprima', sans-serif;
    }

body {
    background-image: url('img/tex.png');
    background-repeat: no-repeat;
    background-size: 100%;
cursor: url(https://i.imgur.com/mzsUluO.png), progress;}
a:hover {cursor: url(https://i.imgur.com/gG4rCa8.png), progress;}

::selection {color: #ffffff;
   background: #f7e3eb;}
::-moz-selection {color: #ffffff;
   background: #f7e3eb;}
}





